<p id="notice"><%= notice %></p>

<%= image_tag @player.avatar.url(:thumb)  %>

<%= image_tag @player.hero.url(:thumb)  %>

<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>

<p>
  <strong>Role:</strong>
  <%= @player.role %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
